*,
*::before,
*::after {
  box-sizing: border-box;
}

/*  custom properties  */
:root {
  --ff-primary: "Akaya Telivigala", cursive;
  --ff-secondary: "Source Code Pro", monospace;

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: #fff;
  --clr-dark: #000000;
  --clr-accent: #16e0bd;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}


html{
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: var(--clr-dark);
  color: var(--clr-light);
  display: flex;
  flex-direction: column;
}
.conditions{
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
    font-size: 11px;
}
/* Main page */
/* Header */
.logo{
  width: 10%;
  height: auto;
  margin: 0 auto;
  cursor: pointer;
  margin-bottom: 3px;
}

header{
    /* display: grid;
    grid-template-columns: repeat(8);
    grid-template-areas:
    ". one two three four five six .";
    justify-content: space-between; */
    padding-left: 20px;
    padding-right: 350px;
    font-size: 20px;
    
    
}

header a{
    font-size: 24px;
    font-weight: var(--fw-bold);
    
}
header a:hover{
  color: #c9b078;

}
.center{
    display: flex;
    justify-content: center;
}

header nav{
  float: right;
}

header nav ul{
  margin: 0;
  padding: 0;
  display: flex;
}

header nav ul li {
  list-style: none;
}

header nav ul li a {
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  text-decoration: none;
}

.menu {
  margin: 0;
  padding: 0;
}

.menu-toggle {
  float: right;
  line-height: 50px;
  cursor: pointer;
  display: none;
  font-style: oblique;
  margin-left: 50px;
  font-size: .75em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.item_1{
    grid-area: one;
    
}
.item_2{
    grid-area: two;
}
.item_3{
    grid-area: three;
}
.item_4{
    grid-area: four;
}
.item_5{
    grid-area: five;
}
.item_6{
    grid-area: six;
}
/*Header end*/
/* Content */

.container{
  background: url("../images/main-img.png");
  color: #000;
  background-color: #000;
  background-position: center;
  background-size: cover;
  position: relative;
  height: 0%;
  width: 40%;
  top: 3em;
  left: 27em;
}

.about-container{
  background: url("../images/about-img.jpg");
  color: #000;
  background-color: #000;
  background-position: center;
  background-size: cover;
  position: relative;
  height: 0%;
  width: 30%;
  top: 4em;
  left: 32em;
  z-index: -1;
}


.main-img{

  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 5em;
}
@media(max-width: 1610px) {
  .main-img{

    width: 75%;
    height: 382px;
    left: 160px;
    
    margin-bottom: 15px;
  }
}

img{
  width: 50%;
  height: auto;
}
a{
    color: var(--clr-light);
    text-decoration: none;
}
footer{
  margin-top: auto;
  display: flex;
  justify-content: center;
}
.container {
  margin-bottom: 25px;
  margin-left: 15px;
}

.link__container{
  display: flex;
  justify-content: center;
  margin-bottom: auto;
  position: relative;
  top: 3em;
  bottom: 4empx;
}
a.animated-button:link, a.animated-button:visited {
	position: relative;
	display: block;
	margin: 30px auto 0;
	padding: 24px 15px;
	color: #fff;
	font-size:14px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	letter-spacing: .08em;
	border-radius: 0;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
a.animated-button:link:after, a.animated-button:visited:after {
	content: "";
	position: absolute;
	height: 0%;
	left: 50%;
	top: 50%;
	width: 150%;
	z-index: -1;
	-webkit-transition: all 0.75s ease 0s;
	-moz-transition: all 0.75s ease 0s;
	-o-transition: all 0.75s ease 0s;
	transition: all 0.75s ease 0s;
}
a.animated-button:link:hover, a.animated-button:visited:hover {
	color: #FFF;
	text-shadow: none;
}
a.animated-button:link:hover:after, a.animated-button:visited:hover:after {
	height: 450%;
}
a.animated-button:link, a.animated-button:visited {
	position: relative;
	display: block;
	margin: 30px auto 0;
	padding: 14px 100px;
	color: #fff;
	font-size:14px;
	border-radius: 0;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	letter-spacing: .08em;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
a.animated-button.victoria-one {
	/*border: 3px solid #D24D57;*/
  border: 3px solid #6f4728;
}
a.animated-button.victoria-one:after {
	background: #c9b078;
  color: white;
	-moz-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
	-ms-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
	-webkit-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
	transform: translateX(-50%) translateY(-50%) rotate(-25deg);
}
/* Content */
/* Main Page end */


/* Music Videos Page */
.music__title{
  color: white;
  text-align: center;
  font-size: 1rem;
}

.music__columns{
  display: flex;
  flex-wrap: wrap;
}


.music__columns > *{
  flex: 1 1 50%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.listen-music__logo{
  display: flex;
  text-align: center;
  justify-content: center;
}
.listen-music__logo-logo{
  max-width: 15%;
  height: auto;
}
/* Music Page End */



/* About me page */

.about-me__container{
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}
.about-me__item{
  display: flex;
  justify-content: center;
  flex: 1 1 50%;
}
.about-me__info-text{
  color: white;
  font-size: 1.125rem;
  text-align: center;
}

.about-me__item p{
  text-align: center;
  padding: 5em;
}

/* About me page end */



/*social media*/
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

.socialbtns a,.socialbtns a:hover {
	color: #000;
	text-decoration: none;
	padding: 5px;
}
.socialbtns, .socialbtns ul, .socialbtns li {
	margin-top: 1.5em;
	padding: 5px;
}

.socialbtns li {
    list-style: none outside none;
    display: inline-block;
}

.socialbtns li {
    list-style: none outside none;
    display: inline-block;
}

.socialbtns .fa {
	color: #FFF;
	text-shadow: 1px 1px 0px #000,
			1px -1px 0px #000,
			-1px 1px 0px #000,
			-1px -1px 0px #000;
	-webkit-text-shadow: 1px 1px 0px #000,
			1px -1px 0px #000,
			-1px 1px 0px #000,
			-1px -1px 0px #000;
	-moz-text-shadow: 1px 1px 0px #000,
			1px -1px 0px #000,
			-1px 1px 0px #000,
			-1px -1px 0px #000;
	-o-text-shadow: 1px 1px 0px #000,
			1px -1px 0px #000,
			-1px 1px 0px #000,
			-1px -1px 0px #000;
	transition: all ease-out 0.5s;
	-moz-transition: all ease-out 0.5s;
	-webkit-transition: all ease-out 0.5s;
	-o-transition: all ease-out 0.5s;
}

.socialbtns .fa:hover {
	color: #000;
	text-shadow: 1px 1px 0px #fff,
			1px -1px 0px #fff,
			-1px 1px 0px #fff,
			-1px -1px 0px #fff;
	-webkit-text-shadow: 1px 1px 0px #fff,
			1px -1px 0px #fff,
			-1px 1px 0px #fff,
			-1px -1px 0px #fff;
	-moz-text-shadow: 1px 1px 0px #fff,
			1px -1px 0px #fff,
			-1px 1px 0px #fff,
			-1px -1px 0px #fff;
	-o-text-shadow: 1px 1px 0px #fff,
			1px -1px 0px #fff,
			-1px 1px 0px #fff,
			-1px -1px 0px #fff;
	transition: all ease 0.5s;
	-moz-transition: all ease-in 0.5s;
	-webkit-transition: all ease-in 0.5s;
	-o-transition: all ease-in 0.5s;
}
@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}
/* @media(max-width: 1200px){
  .about-me__item{
    flex: 1 1 100%;
  }
  .about-me__info-text{
    font-size: 1rem;
  }
  .about-me__img-img{
    width: 80%;
    height: auto;
  }
  .img{
    width: 90%;
    height: auto;
  }
  iframe{
    width: 350px;
  } */
  /* header{
      grid-template-columns: repeat(8,1fr);
      grid-template-rows: 1fr 1fr;
      grid-template-areas: 
      ". one two three four five . "
      " .  .   .  six    .    . . ";
      row-gap: 20px;
      column-gap: 10px;
  } */
  /* header a{
    font-size: 16px;
  }
} */
@media(max-width: 1610px){
  header a{
    font-size: 15px;
  }
}


@media(max-width: 1050px)
{

    .logo{
        width: 80%;
        height: 30%;
    }
    .quick__link{
        font-size: 15px;
    }
    header a{
        font-size: 12px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .about-me__item p{
        padding: 2em;
        font-size: 18px;
        justify-content: center;
    }

    .about-me__info-text{
        color: white;
        /* font-size: px; */
    }
    .music__title{
        font-size: 10px;
    }
    /* .center{
        justify-content: space-around;
    } */
    header{
      display: grid;
      grid-template-columns: repeat(8);
      grid-template-areas:
      ". one two three four five six .";
      justify-content: space-between;
      padding-left: 200px;
      padding-right: 200px;
      font-size: 20px;


    }
    .main-img{
      position: relative;
      left: 120px;
      position: relative;
      display: flex;
      justify-content: center;
    }
    
}

/* 
@media(max-width: 950px)
{

    .logo{
        width: 50%;
    }
    .quick__link{
        font-size: 15px;
    }
    header a{
        font-size: 12px;
        padding-left: 50px;
        padding-right: 50px;
    }
    .about-me__info-text{
        color: white;
        font-size: 20px;
    }
    .music__title{
        font-size: 10px;
    }
    .center{
        justify-content: space-around;
    }
    header{
        grid-template-columns: repeat(8,1fr);
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        ". one two three . "
        ". four five six . ";
        row-gap: 20px;
        column-gap: 10px;
        padding-left: 100px;
  padding-right: 0px;


    }
    .main-img{
      position: relative;
      left: 100px;
      position: relative;
      display: flex;
      justify-content: center;
    }
    .logo{
      height: 150px;
      width: 150px;
    }
} */
@media only screen and (max-width: 1399px) and (min-width: 1081px){

      header {
        margin-left: 45em;
      }

      .container {
        left: 23em;
      }
}

@media(max-width: 1080px)
{

  .container {
        background: url(../images/main-img.png);
        color: #000;
        background-color: #000;
        background-position: center;
        background-size: cover;
        position: relative;
        height: 0%;
        width: 80%;
        left: 1.30em;
        z-index: -1;
    }

    .about-container{
      background: url("../images/about-img.jpg");
      color: #000;
      background-color: #000;
      background-position: center;
      background-size: cover;
      position: relative;
      height: 0%;
      width: 80%;
      top: 2em;
      left: 2em;
      z-index: -1;
    }
    

    .logo{
        width: 50%;
    }
    .quick__link{
        font-size: 15px;
    }
    header a{
        font-size: 10px;
        padding-left: 8px;
        padding-right: 10px;
    }
    .about-me__info-text{
        color: white;
        font-size: 20px;
    }
    .music__title{
        font-size: 10px;
    }
    .center{
        justify-content: space-around;
    }
    header{
        /* grid-template-columns: repeat(8,1fr);
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        ". one two three . "
        ". four five six . ";
        row-gap: 15px;
        column-gap: 10px; */
        padding-left: 20px;
  /* padding-right: 100px; */

    }

    
    .img{
      width: 100%;
      height: 100%;
    }

    .main-img{
      /* background: url("../images/main-img1.png"); */
      position: relative;
      left: 40px;
      position: relative;
      display: flex;
      justify-content: center;
      z-index: -1;
    }
    .logo{
      height: 150px;
      width: 150px;
    }

    .menu-toggle:hover{
      color: #c9b078;
    }
    .menu-toggle {
      display: block;
      margin-left: 20px;
    }

    .menu {
      margin: 0;
      padding: 0;
    }
  
    header nav {
      position: absolute;
      top: 200px;
      left: -100%;
      width: 100%;
      height: calc(100vh - 50px);
      transition: 0.5s;
      background:#000;
    }
  
    header nav.active {
      left: 0;
    }
  
    header nav ul {
      display: block;
      text-align: center;
    }

}



@media(max-width: 950px) {

  .quick__link{
    font-size: 1rem;
  }
  header a{
      font-size: 9px;
  }
  .music__title{
      font-size: 15px;
  }

}
